.section-hero {
  background-color: var(--green-color);
}
.container-hero {
  padding-top: 48px;
  padding-bottom: 20px;
}

.container-users-hero {
  margin-bottom: 14px;
}

.users-list-hero {
  display: flex;
  flex-direction: row;
  position: relative;
}
.users-item-hero {
  background: white;
  border: 0.1875em solid white;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  object-fit: cover;
}

.users-list-hero li {
  position: absolute;
  content: '';
  left: 8%;
}
.users-list-hero li:nth-child(3) {
  left: 16%;
}
.users-list-hero li:nth-child(4) {
  left: 24%;
}

.users-list-hero li:first-child {
  position: unset;
}

.users-text-hero {
  text-align: center;
}
.users-span-hero {
  font-weight: normal;
  font-size: 10px;
  vertical-align: 10px;
}
.title-hero {
  color: white;
  font-size: 36px;
  margin-bottom: 14px;
}
.title-hero-span {
  color: var(--light-green-color);
  font-style: italic;
}
.paragraph-hero {
  color: white;
  margin-bottom: 20px;
  font-weight: normal;
}
.container-hero-btn {
  background: #faf3e7;
  border-radius: 50%;
  height: 68px;
  width: 68px;
}
.hero-btn {
  font-weight: 500;
  font-size: 16px;
  color: #fc8a11;
  cursor: pointer;
  border: 0;
  transform: rotate(-14deg);
  background: transparent;
  vertical-align: -15px;
  margin-bottom: 8px;
}
.container-image-hero {
  justify-content: center;
  display: flex;
}
.image-hero {
  width: 370px;
}
.container-tags-hero {
  display: flex;
  justify-content: flex-end;
}
.tags-hero-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
  max-width: 275px;
  justify-content: flex-end;
}

.tags-hero-btn {
  font-weight: 500;
  font-size: small;
  color: #141414;
  cursor: pointer;
  background: transparent;
  border-radius: 50px;
  border: 0.1075em solid white;
  padding: 8px 14px;
  color: white;
}
.first-btn-hero {
  background-color: #f9f7f4;
  color: #141414;
}

@media screen and (min-width: 768px) {
  .container-hero {
    padding-top: 64px;
    padding-bottom: 32px;
  }

  .container-users-hero {
    margin-bottom: 18px;
  }

  .users-list-hero {
  }

  .users-list-hero li {
    position: absolute;
    content: '';
    left: 5%;
  }
  .users-list-hero li:nth-child(3) {
    left: 10%;
  }
  .users-list-hero li:nth-child(4) {
    left: 15%;
  }

  .users-list-hero li:first-child {
    position: unset;
  }
  .users-item-hero {
    height: 56px;
    width: 56px;
    margin-bottom: 8px;
  }
  .users-span-hero {
    font-size: 13px;
  }
  .title-hero {
    font-size: 46px;
    margin-bottom: 16px;
  }
  .paragraph-hero {
    margin-bottom: 32px;
  }
  .container-hero-btn {
    height: 114px;
    width: 114px;
    margin-bottom: 8px;
  }
  .hero-btn {
    font-size: 22px;
    vertical-align: -37px;
  }
  .image-hero {
    width: 550px;
  }
  .container-tags-hero {
  }
}

@media screen and (min-width: 1280px) {
  .container-hero {
    padding-top: 132px;
    padding-bottom: 32px;
  }

  .users-list-hero li {
    position: absolute;
    content: '';
    left: 7%;
  }
  .users-list-hero li:nth-child(3) {
    left: 14%;
  }
  .users-list-hero li:nth-child(4) {
    left: 21%;
  }

  .users-list-hero li:first-child {
    position: unset;
  }
  .users-list-hero {
  }
  .users-item-hero {
    height: 72px;
    width: 72px;
  }
  .users-span-hero {
    vertical-align: -6px;
  }
  .title-hero {
    font-size: 56px;
  }
  .paragraph-hero {
  }
  .container-hero-btn {
    height: 132px;
    width: 132px;
  }
  .image-hero {
    width: 1500px;
  }
  .hero-btn {
    font-size: 28px;
    vertical-align: -50px;
  }
  .tags-hero-list {
    gap: 8px;
  }
  .container-tags-hero {
  }
  .container-hero {
    display: flex;
    flex-wrap: nowrap;
  }
}
