.how-it-works {
  padding: 124px 0 124px 0;
}
.how-it-works-title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}
.how-it-works-title {
  font-size: 48px;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: -1.92px;
  text-transform: uppercase;
  max-width: 614px;
}
.how-it-works-title-box-img {
  max-width: 410px;
}
.how-it-works-text-box {
  display: flex;
  gap: 40px;
  margin-bottom: 124px;
}
.how-it-works-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.72px;
}
.how-it-works-text.first {
  max-width: 353px;
}
.how-it-works-text.second {
  max-width: 294px;
}
.how-it-works-content {
  display: flex;
  position: relative;
  padding: 80px;
  border-radius: 80px;
  background-color: #faf3e7;
  background-image: url(/img/desktop/hiw-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: space-between;
}
.how-it-works-content-img {
  position: absolute;
  left: 80px;
  bottom: 0;
}
.how-it-works-content-title {
  max-width: 512px;
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -1.6px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.how-it-works-content-list {
  display: flex;
  gap: 28px;
  margin: 0;
  padding: 0;
  flex-direction: column;
  list-style-type: none;
  counter-reset: myCounter;
}
.how-it-works-content-item {
  position: relative;
  max-width: 289px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.56px;
  padding-left: 60px;
}
.how-it-works-content-item::before {
  counter-increment: myCounter;
  content: counter(myCounter);
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--green-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 44px;
}
