<section class="section-hero">
  <div class="container-hero">
    <div class="container-hero-first">
      <div class="container-users-hero">
        <ul class="users-list-hero">
          <li class="users-item-hero">
            <img
              srcset="
                ./img/desktop/hero-review-1.png    1x,
                ./img/desktop/hero-review-1@2x.png 2x
              "
              src="./img/desktop/hero-review-1.png"
              alt="users1"
              width="72"
              height="72"
            />
          </li>
          <li class="users-item-hero">
            <img
              srcset="
                ./img/desktop/hero-review-2.png    1x,
                ./img/desktop/hero-review-2@2x.png 2x
              "
              src="./img/desktop/hero-review-2.png"
              alt="users2"
              width="72"
              height="72"
            />
          </li>
          <li class="users-item-hero">
            <img
              srcset="
                ./img/desktop/hero-review-3.png    1x,
                ./img/desktop/hero-review-3@2x.png 2x
              "
              src="./img/desktop/hero-review-3.png"
              alt="users3"
              width="72"
              height="72"
            />
          </li>
          <li class="users-item-hero">
            <h3 class="users-text-hero">
              2K <span class="users-span-hero">reviews</span>
            </h3>
          </li>
        </ul>
      </div>
      <h1 class="title-hero">
        ORGANIC <span class="title-hero-span">VEGETABLES</span> TO YOUR DIET
        TODAY!
      </h1>
      <p class="paragraph-hero">
        Our expertly curated vegetable baskets are made with the freshest,
        highest quality vegetables available. Fresh Harvest Box has got you
        covered. Fresh, high-quality vegetables in expertly curated vegetable
        baskets delivered to you.
      </p>
      <div class="container-hero-btn">
        <button type="button" class="hero-btn" data-first-modal-open>
          SHOP NOW
        </button>
      </div>
    </div>
    <div class="container-hero-second">
      <div class="container-image-hero">
        <img
          class="image-hero"
          srcset="
            ./img/desktop/hero-girl.png    1x,
            ./img/desktop/hero-girl@2x.png 2x
          "
          src="./img/desktop/hero-girl.png"
          alt="hero-girl-alt"
        />
      </div>
      <div class="container-tags-hero">
        <ul class="tags-hero-list">
          <li class="tags-hero-item">
            <button type="button" class="tags-hero-btn first-btn-hero">
              #ORGANIC
            </button>
          </li>
          <li class="tags-hero-item">
            <button type="button" class="tags-hero-btn">#PRODUCTS</button>
          </li>
          <li class="tags-hero-item">
            <button type="button" class="tags-hero-btn">#BASKET</button>
          </li>
          <li class="tags-hero-item">
            <button type="button" class="tags-hero-btn">#VEGETABLES</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
