<section class="section-hero">
  <div class="container-hero">
    <div class="container-users-hero">
      <ul class="users-list-hero">
        <li class="users-item-hero">
          <img
            srcset="./images/img1.jpg 1x, ./images/img1-2x.jpg 2x"
            src="./images/img1.jpg"
            alt="user1"
            width="360"
            height="300"
          />
        </li>
        <li class="users-item-hero"></li>
        <li class="users-item-hero"></li>
        <li class="users-item-hero"></li>
      </ul>
    </div>
    <h1 class="title-hero">
      ORGANIC <span class="title-hero-span">VEGETABLES</span> TO YOUR DIET
      TODAY!
    </h1>
    <p class="paragraph-hero">
      Our expertly curated vegetable baskets are made with the freshest, highest
      quality vegetables available. Fresh Harvest Box has got you covered.
      Fresh, high-quality vegetables in expertly curated vegetable baskets
      delivered to you.
    </p>
    <button type="button">SHOP NOW</button>
    <div class="image-hero"></div>
    <div class="tags-hero"></div>
  </div>
</section>
