<section class="section-hero">
  <div class="container-hero">
    <div class="container-users-hero">
      <ul class="users-list-hero">
        <li class="users-item-hero">
          <img
            srcset="
              ./img/mobile/hero-review-1.png    1x,
              ./img/mobile/hero-review-1@2x.png 2x
            "
            src="./img/mobile/hero-review-1.png"
            alt="users1"
            width="60"
            height="60"
          />
        </li>
        <li class="users-item-hero"></li>
        <li class="users-item-hero"></li>
        <li class="users-item-hero"></li>
      </ul>
    </div>
    <h1 class="title-hero">
      ORGANIC <span class="title-hero-span">VEGETABLES</span> TO YOUR DIET
      TODAY!
    </h1>
    <p class="paragraph-hero">
      Our expertly curated vegetable baskets are made with the freshest, highest
      quality vegetables available. Fresh Harvest Box has got you covered.
      Fresh, high-quality vegetables in expertly curated vegetable baskets
      delivered to you.
    </p>
    <button type="button">SHOP NOW</button>
    <div class="image-hero"></div>
    <div class="tags-hero"></div>
  </div>
</section>
