<section class="how-it-works">
  <div class="container">
    <div class="how-it-works-title-box">
      <h2 class="how-it-works-title">
        To order your vegetable basket, simply follow these easy steps
      </h2>
      <picture>
        <source
          srcset="
            /img/mobile/hiw-vegetable.jpg    1x,
            /img/mobile/hiw-vegetable@2x.jpg 2x
          "
          media="(max-width:767px)"
        />
        <source
          srcset="
            /img/tablet/hiw-vegetable.jpg    1x,
            /img/tablet/hiw-vegetable@2x.jpg 2x
          "
          media="(max-width:1279px)"
        />
        <source
          srcset="
            /img/desktop/hiw-vegetable.jpg    1x,
            /img/desktop/hiw-vegetable@2x.jpg 2x
          "
          media="(min-width:1280px)"
        />
        <img src="/img/mobile/hiw-vegetable.jpg" alt="grass" />
      </picture>
    </div>
    <div class="how-it-works-text-box">
      <p class="how-it-works-text first">
        Our baskets are assembled with care and delivered straight to your
        doorstep, so you can enjoy the taste of fresh fruit without ever leaving
        your home.
      </p>
      <p class="how-it-works-text second">
        Whether you're looking for a healthy snack or a thoughtful gift, our
        fruit baskets are the perfect choice.
      </p>
    </div>
    <div class="how-it-works-content">
      <picture>
        <source
          srcset="/img/mobile/hiw-girl.png 1x, /img/mobile/hiw-girl@2x.png 2x"
          media="(max-width:767px)"
        />
        <source
          srcset="/img/tablet/hiw-girl.png 1x, /img/tablet/hiw-girl@2x.png 2x"
          media="(max-width:1279px)"
        />
        <source
          srcset="/img/desktop/hiw-girl.png 1x, /img/desktop/hiw-girl@2x.png 2x"
          media="(min-width:1280px)"
        />
        <img
          class="how-it-works-content-img"
          src="/img/mobile/hiw-girl.png"
          alt="girl with grass"
        />
      </picture>
      <div class="how-it-works-content-box">
        <h3 class="how-it-works-content-title">
          3 Easy Steps for Buying Fresh Vegetables
        </h3>
        <ol class="how-it-works-content-list">
          <li class="how-it-works-content-item">
            Just choose the vegetable you want to order by clicking on the
            checkboxes next to it.
          </li>
          <li class="how-it-works-content-item">
            Click on the basket and fill out the form.
          </li>
          <li class="how-it-works-content-item">
            Sit back and relax! Your fresh vegetables basket will be delivered.
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
