<section class="vegetables" id="vegetables">
    <div class="container">
        <div class="vegetables-title-container">
            <h2 class="vegetables-title">ORGANIC vegetables</h2>
            <p class="vegetables-paragraph">Our organic vegetables are hand-picked from local farms and delivered
                straight to your doorstep, ensuring that you get
                the freshest and most nutritious produce possible.</p>
        </div>
        <ul class="vegetables-list">
            <li class="vegetables-item"><a href="" class="vegetables-item-link">
                    <div>
                        <div class="vegetables-item-block">
                            <h3 class="vegetables-item-title">Carrot</h3>
                            <p class="vegetables-item-paragraph">Plant</p>
                        </div>
                        <img class="vegetables-list-image-mob"
                            srcset="./img/mobile/carrot.png 1x,./img/mobile/carrot@2x.png 2x"
                            src="./img/mobile/carrot.png" alt="Carrot" width="292">
                        <img class="vegetables-list-image"
                            srcset="./img/desktop/carrot.png 1x,./img/desktop/carrot@2x.png 2x"
                            src="./img/desktop/carrot.png" alt="Carrot" width="321">
                        <img class="shadow-list-image" srcset="./img/mobile/shadow.png 1x,./img/mobile/shadow@2x.png 2x"
                            src="./img/mobile/shadow.png" alt="shadow" width="195" height="38">
                    </div>
                    <p class="vegetables-item-price">100 UAH / kg</p>
                </a>
            </li>
            <li class="vegetables-item"><a href="" class="vegetables-item-link">
                    <div>
                        <div class="vegetables-item-block">
                            <h3 class="vegetables-item-title">Brussel sprouts</h3>
                            <p class="vegetables-item-paragraph">Plant</p>
                        </div>
                        <img class="vegetables-list-image-mob"
                            srcset="./img/mobile/brussel.png 1x,./img/mobile/brussel@2x.png 2x"
                            src="./img/mobile/brussel.png" alt="Brussel sprouts" width="230">
                        <img class="vegetables-list-image"
                            srcset="./img/desktop/brussel.png 1x,./img/desktop/brussel@2x.png 2x"
                            src="./img/desktop/brussel.png" alt="Brussel sprouts" width="266">
                        <img class="shadow-list-image" srcset="./img/mobile/shadow.png 1x,./img/mobile/shadow@2x.png 2x"
                            src="./img/mobile/shadow.png" alt="shadow" width="195" height="38">
                    </div>
                    <p class="vegetables-item-price">80 UAH / kg</p>
                </a>
            </li>
            <li class="vegetables-item"><a href="" class="vegetables-item-link">
                    <div>
                        <div class="vegetables-item-block">
                            <h3 class="vegetables-item-title">Tomato</h3>
                            <p class="vegetables-item-paragraph">Plant</p>
                        </div>
                        <img class="vegetables-list-image-mob"
                            srcset="./img/mobile/tomato.png 1x,./img/mobile/tomato@2x.png 2x"
                            src="./img/mobile/tomato.png" alt="Tomato" width="278">
                        <img class="vegetables-list-image"
                            srcset="./img/desktop/tomato.png 1x,./img/desktop/tomato@2x.png 2x"
                            src="./img/desktop/tomato.png" alt="Tomato" width="297">
                        <img class="shadow-list-image" srcset="./img/mobile/shadow.png 1x,./img/mobile/shadow@2x.png 2x"
                            src="./img/mobile/shadow.png" alt="shadow" width="195" height="38">
                    </div>
                    <p class="vegetables-item-price">40 UAH / kg</p>
                </a>
            </li>
            <li class="vegetables-item"><a href="" class="vegetables-item-link">
                    <div>
                        <div class="vegetables-item-block">
                            <h3 class="vegetables-item-title">Eggplant</h3>
                            <p class="vegetables-item-paragraph">Plant</p>
                        </div>
                        <img class="vegetables-list-image-mob"
                            srcset="./img/mobile/eggplant.png 1x,./img/mobile/eggplant@2x.png 2x"
                            src="./img/mobile/eggplant.png" alt="Eggplant" width="194">
                        <img class="vegetables-list-image"
                            srcset="./img/desktop/eggplant.png 1x,./img/desktop/eggplant@2x.png 2x"
                            src="./img/desktop/eggplant.png" alt="Eggplant" width="222">
                        <img class="shadow-list-image" srcset="./img/mobile/shadow.png 1x,./img/mobile/shadow@2x.png 2x"
                            src="./img/mobile/shadow.png" alt="shadow" width="195" height="38">
                    </div>
                    <p class="vegetables-item-price">60 UAH / kg</p>
                </a>
            </li>
            <li class="vegetables-item"><a href="" class="vegetables-item-link">
                    <div>
                        <div class="vegetables-item-block">
                            <h3 class="vegetables-item-title">Sweet potatoes</h3>
                            <p class="vegetables-item-paragraph">Plant</p>
                        </div>
                        <img class="vegetables-list-image-mob"
                            srcset="./img/mobile/potatoes.png 1x,./img/mobile/potatoes@2x.png 2x"
                            src="./img/mobile/potatoes.png" alt="Sweet potatoes" width="294">
                        <img class="vegetables-list-image"
                            srcset="./img/desktop/potatoes.png 1x,./img/desktop/potatoes@2x.png 2x"
                            src="./img/desktop/potatoes.png" alt="Sweet potatoes" width="339">
                        <img class="shadow-list-image" srcset="./img/mobile/shadow.png 1x,./img/mobile/shadow@2x.png 2x"
                            src="./img/mobile/shadow.png" alt="shadow" width="195" height="38">
                    </div>
                    <p class="vegetables-item-price">80 UAH / kg</p>
                </a>
            </li>
            <li class="vegetables-item"><a href="" class="vegetables-item-link">
                    <div>
                        <div class="vegetables-item-block">
                            <h3 class="vegetables-item-title">Leek</h3>
                            <p class="vegetables-item-paragraph">Plant</p>
                        </div>
                        <img class="vegetables-list-image-mob"
                            srcset="./img/mobile/leek.png 1x,./img/mobile/leek@2x.png 2x" src="./img/mobile/leek.png"
                            alt="Leek" width="284">
                        <img class="vegetables-list-image"
                            srcset="./img/desktop/leek.png 1x,./img/desktop/leek@2x.png 2x" src="./img/desktop/leek.png"
                            alt="Leek" width="308">
                        <img class="shadow-list-image" srcset="./img/mobile/shadow.png 1x,./img/mobile/shadow@2x.png 2x"
                            src="./img/mobile/shadow.png" alt="shadow" width="195" height="38">
                    </div>
                    <p class="vegetables-item-price">50 UAH / kg</p>
                </a>
            </li>
            <li class="vegetables-item"><a href="" class="vegetables-item-link">
                    <div>
                        <div class="vegetables-item-block">
                            <h3 class="vegetables-item-title">Mushrooms</h3>
                            <p class="vegetables-item-paragraph">Plant</p>
                        </div>
                        <img class="vegetables-list-image-mob"
                            srcset="./img/mobile/mushrooms.png 1x,./img/mobile/mushrooms@2x.png 2x"
                            src="./img/mobile/mushrooms.png" alt="Mushrooms" width="325">
                        <img class="vegetables-list-image"
                            srcset="./img/desktop/mushrooms.png 1x,./img/desktop/mushrooms@2x.png 2x"
                            src="./img/desktop/mushrooms.png" alt="Mushrooms" width="353">
                        <img class="shadow-list-image" srcset="./img/mobile/shadow.png 1x,./img/mobile/shadow@2x.png 2x"
                            src="./img/mobile/shadow.png" alt="shadow" width="195" height="38">
                    </div>
                    <p class="vegetables-item-price">40 UAH / kg</p>
                </a>
            </li>
            <li class="vegetables-item"><a href="" class="vegetables-item-link">
                    <div>
                        <div class="vegetables-item-block">
                            <h3 class="vegetables-item-title">Corn</h3>
                            <p class="vegetables-item-paragraph">Plant</p>
                        </div>
                        <img class="vegetables-list-image-mob"
                            srcset="./img/mobile/corn.png 1x,./img/mobile/corn@2x.png 2x" src="./img/mobile/corn.png"
                            alt="Corn" width="265">
                        <img class="vegetables-list-image"
                            srcset="./img/desktop/corn.png 1x,./img/desktop/corn@2x.png 2x" src="./img/desktop/corn.png"
                            alt="Corn" width="286">
                        <img class="shadow-list-image" srcset="./img/mobile/shadow.png 1x,./img/mobile/shadow@2x.png 2x"
                            src="./img/mobile/shadow.png" alt="shadow" width="195" height="38">
                    </div>
                    <p class="vegetables-item-price">60 UAH / kg</p>
                </a>
            </li>
            <li class="vegetables-item last-item"><a href="" class="vegetables-item-link">
                    <div>
                        <div class="vegetables-item-block">
                            <h3 class="vegetables-item-title">Radish</h3>
                            <p class="vegetables-item-paragraph">Plant</p>
                        </div>
                        <img class="vegetables-list-image"
                            srcset="./img/desktop/radish.png 1x,./img/desktop/radish@2x.png 2x"
                            src="./img/desktop/radish.png" alt="Radish" width="316">
                        <img class="shadow-list-image" srcset="./img/mobile/shadow.png 1x,./img/mobile/shadow@2x.png 2x"
                            src="./img/mobile/shadow.png" alt="shadow" width="195" height="38">
                    </div>
                    <p class="vegetables-item-price">90 UAH / kg</p>
                </a>
            </li>
        </ul>
        <button type="button" class="vegetables-btn" modal-open><svg class="vegetables-btn-icon" width="14" height="14">
                <use href="../img/symbol-defs.svg#arrow-icon"></use>
            </svg> Order</button>
    </div>
</section>