<footer class="footer" id="contacts">
  <div class="footer-container container">
    <div class="footer-div-item">
      <div class="footer-div-logo">
        <img
          src="./img/mobile/footer-vege.png"
          alt="cauliflover"
          class="footer-img"
          width="335"
          height="172"
        />

        <a href="./index.html" class="footer-logo">
          <svg class="footer-svg-logo" width="16" height="16">
            <use href="./img/symbol-defs.svg#logo-cubes-black-icon"></use></svg
          >veggieboost</a
        >
      </div>
      <div class="footer-div-nav">
        <nav class="footer-nav">
          <ul class="footer-menu-list">
            <li class="footer-item">
              <a class="footer-link" href="#how-it-works">How It Works</a>
            </li>
            <li class="footer-item">
              <a class="footer-link" href="#vegetables">Vegetables</a>
            </li>
            <li class="footer-item">
              <a class="footer-link" href="#contacts">Contacts</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="footer-div-soc">
      <ul class="footer-soc-list">
        <li class="footer-item-soc">
          <a class="footer-soc-link" aria-label="facebook-icon">
            <svg class="footer-svg-soc" width="24" height="24">
              <use href="./img/symbol-defs.svg#facebook-icon"></use></svg
          ></a>
        </li>
        <li class="footer-item-soc">
          <a class="footer-soc-link" aria-label="instagram-icon">
            <svg class="footer-svg-soc" width="24" height="24">
              <use href="./img/symbol-defs.svg#instagram-icon"></use></svg
          ></a>
        </li>
        <li class="footer-item-soc">
          <a class="footer-soc-link" aria-label="youtube-icon">
            <svg class="footer-svg-soc" width="24" height="24">
              <use href="./img/symbol-defs.svg#youtube-icon"></use></svg
          ></a>
        </li>
      </ul>

      <div class="footer-div-address">
        <address class="footer-address">
          <ul class="footer-address-list">
            <li class="footer-address-link">
              <a href="tel:+380684439426" class="footer-tel-linc"
                >+380 (68) 443-94-26</a
              >
            </li>

            <li class="footer-address-link">
              <a
                href="https://goo.gl/maps/LGRwRrDt5yHNeL7N9"
                class="foooter-address-poht"
                >1678 S. Pioneer Road Salt Lake City <br />
                UT 84104</a
              >
            </li>
          </ul>
        </address>
      </div>
    </div>
  </div>
</footer>
