<header class="header">
  <div class="header-container container">
    <nav class="header-nav">
      <ul class="header-menu">
        <li>
          <a href="#how-it-works" class="header-menu-link">How it works</a>
        </li>
        <li><a href="#vegetables" class="header-menu-link">Vegetables</a></li>
        <li><a href="#we-will-call" class="header-menu-link">Contacts</a></li>
      </ul>
    </nav>
    <a href="./index.html" class="header-logo">
      <svg class="header-logo-icon" width="16" height="16">
        <use href="/img/symbol-defs.svg#logo-cubes-icon"></use>
      </svg>
      Veggieboost</a
    >
    <button type="button" class="cart" data-modal-open>
      <svg class="open-cart-icon" width="24" height="24">
        <use href="/img/symbol-defs.svg#shopping-cart-icon"></use>
      </svg>
    </button>
    <button type="button" class="header-mobile-burger">
      <svg
        class="mobile-burger-icon not-cheked"
        id="icon"
        width="24"
        height="24"
      >
        <use href="/img/symbol-defs.svg#mobile-burger-icon"></use>
      </svg>
    </button>
  </div>
</header>
