<button type="button" class="hero-button" data-modal-open>
  <span class="hero-btn-txt">Order Service</span>
</button>

<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <div class="modal-title">
      <h1 class="modal-title-text">Your Order</h1>
      <button type="button" class="modal-btn-close" data-modal-close>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
        >
          <path
            d="M18 6L6 18"
            stroke="#141414"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M6 6L18 18"
            stroke="#141414"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </div>

    <form class="form-modal">
      <div class="form-item">
        <div class="form-item-cards">
          <div class="form-items-checkbox">
            <div class="form-items-title">
              <input
                class="modal-checkbox visually-hidden"
                type="checkbox"
                id="cabbage-basket"
                name="cabbage-basket"
                value="true"
              />

              <svg
                class="modal-icon-checkbox"
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
              >
                <path
                  d="M9.90334 5.26336C10.0893 4.98909 10.4624 4.91748 10.7366 5.10343C11.0109 5.28938 11.0825 5.66247 10.8966 5.93675L7.64239 10.7367C7.40438 11.0878 6.88717 11.0878 6.64916 10.7367L5.10343 8.45673C4.91748 8.18245 4.98909 7.80936 5.26336 7.62342C5.53763 7.43747 5.91071 7.50907 6.09666 7.78334L7.14578 9.3308L9.90334 5.26336Z"
                  fill="#A1C487"
                />
                <rect
                  x="0.75"
                  y="0.75"
                  width="14.5"
                  height="14.5"
                  rx="3.25"
                  stroke="#A1C487"
                  stroke-width="1.5"
                />
              </svg>

              <h2 class="modal-card-title" for="cabbage-basket">
                Cabbage Basket
              </h2>
              <p>Plant</p>
            </div>
            <div class="form-items-img">
              <img
                src="/img/modal/cabbage-mobile.png"
                alt="Cabbage Basket"
                width="94"
                height="78"
              />
            </div>
          </div>

          <div class="form-items-checkbox">
            <div class="form-items-title">
              <input
                class="modal-checkbox visually-hidden"
                type="checkbox"
                id="tomato-basket"
                name="tomato-basket"
                value="true"
              />
              <svg
                class="modal-icon-checkbox"
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
              >
                <rect
                  x="0.75"
                  y="0.75"
                  width="14.5"
                  height="14.5"
                  rx="3.25"
                  stroke="#A1C487"
                  stroke-width="1.5"
                />
              </svg>

              <h2 class="modal-card-title" for="tomato-basket">
                Tomato Basket
              </h2>
              <p>Plant</p>
            </div>
            <div class="form-items-img">
              <img
                src="/img/modal/tomato-mobile.png"
                alt="Tomato Basket"
                width="94"
                height="78"
              />
            </div>
          </div>

          <div class="form-items-checkbox">
            <div class="form-items-title">
              <input
                class="modal-checkbox visually-hidden"
                type="checkbox"
                id="vegetables-basket"
                name="vegetables-basket"
                value="true"
              />
              <svg
                class="modal-icon-checkbox"
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
              >
                <rect
                  x="0.75"
                  y="0.75"
                  width="14.5"
                  height="14.5"
                  rx="3.25"
                  stroke="#A1C487"
                  stroke-width="1.5"
                />
              </svg>

              <h2 class="modal-card-title" for="vegetables-basket">
                Vegetables Basket
              </h2>
              <p>Plant</p>
            </div>
            <div class="form-items-img">
              <img
                src="/img/modal/vegetables-basket-mobile.png"
                alt="Vegetables Basket"
                width="94"
                height="78"
              />
            </div>
          </div>
        </div>

        <div class="form-items">
          <input
            class="modal-text"
            id="full-name"
            type="text"
            name="full-name"
            placeholder="Enter full name..."
          />
        </div>

        <div class="form-items">
          <input
            class="modal-text"
            id="enter-email"
            type="email"
            name="enter-email"
            placeholder="Enter email..."
          />
        </div>

        <div class="form-items">
          <input
            class="modal-text"
            id="card"
            type="text"
            name="card"
            placeholder="Enter card..."
          />
        </div>

        <div class="form-items-comment">
          <textarea
            class="modal-text-comment"
            id="user-comment"
            name="user-comment"
            placeholder="Enrel comments..."
          ></textarea>
        </div>

        <button class="modal-button" type="submit">
          <span class="modal-btn-txt">Submit</span>
        </button>
        <img
          class="img-girl"
          src="../img/modal/img-girl.png"
          alt="Cabbage Basket"
          width="290"
          height="403"
        />
      </div>
    </form>
  </div>
</div>
