<!-- <button type="button" class="hero-button" data-modal-open>
  <span class="hero-btn-txt">Order Service</span>
</button> -->

<div class="backdrop is-hidden" data-first-modal>
  <div class="modal">
    <div class="modal-title">
      <h1 class="modal-title-text">Your Order</h1>
      <button type="button" class="modal-btn-close" data-first-modal-close>
        <svg class="icon-btn-close" height="24" width="24">
          <use href="/img/symbol-defs.svg#close-icon"></use>
        </svg>
      </button>
    </div>

    <form class="form-modal">
      <div class="form-item">
        <div class="form-item-cards">
          <div class="form-items-checkbox">
            <div class="form-items-title">
              <input
                class="modal-checkbox visually-hidden"
                type="checkbox"
                id="cabbage-basket"
                name="cabbage-basket"
                checked
              />
              <label class="modal-label-checkbox" for="cabbage-basket">
                <span class="modal-checkbox-svg">
                  <svg class="icon-checkbox" height="10" width="10">
                    <use href="/img/symbol-defs.svg#checkbox-active-icon"></use>
                  </svg>
                </span>
              </label>

              <h2 class="modal-card-title">Cabbage Basket</h2>
              <p>Plant</p>
            </div>
            <div class="form-items-img">
              <picture>
                <source
                  srcset="
                    /img/mobile/cabbage-modal.png    1x,
                    /img/mobile/cabbage-modal@2x.png 2x
                  "
                  media="(max-width:767px)"
                />
                <source
                  srcset="
                    /img/tablet/cabbage-modal.png    1x,
                    /img/tablet/cabbage-modal@2x.png 2x
                  "
                  media="(max-width:1279px)"
                />
                <source
                  srcset="
                    /img/desktop/cabbage-modal.png    1x,
                    /img/desktop/cabbage-modal@2x.png 2x
                  "
                  media="(min-width:1280px)"
                />
                <img
                  src="/img/mobile/cabbage-modal.png"
                  alt="Cabbage"
                  width="94"
                  height="78"
                />
              </picture>
            </div>
          </div>

          <div class="form-items-checkbox">
            <div class="form-items-title">
              <input
                class="modal-checkbox visually-hidden"
                type="checkbox"
                id="tomato-basket"
                name="tomato-basket"
                value="true"
              />
              <label class="modal-label-checkbox" for="tomato-basket">
                <span class="modal-checkbox-svg">
                  <svg class="icon-checkbox" height="10" width="10">
                    <use href="/img/symbol-defs.svg#checkbox-active-icon"></use>
                  </svg>
                </span>
              </label>

              <h2 class="modal-card-title">Tomato Basket</h2>
              <p>Plant</p>
            </div>
            <div class="form-items-img">
              <picture>
                <source
                  srcset="
                    /img/mobile/tomato-modal.png    1x,
                    /img/mobile/tomato-modal@2x.png 2x
                  "
                  media="(max-width:767px)"
                />
                <source
                  srcset="
                    /img/tablet/tomato-modal.png    1x,
                    /img/tablet/tomato-modal@2x.png 2x
                  "
                  media="(max-width:1279px)"
                />
                <source
                  srcset="
                    /img/desktop/tomato-modal.png    1x,
                    /img/desktop/tomato-modal@2x.png 2x
                  "
                  media="(min-width:1280px)"
                />
                <img
                  src="/img/mobile/tomato-modal.png"
                  alt="Tomato Basket"
                  width="94"
                  height="78"
                />
              </picture>
            </div>
          </div>

          <div class="form-items-checkbox">
            <div class="form-items-title">
              <input
                class="modal-checkbox visually-hidden"
                type="checkbox"
                id="vegetables-basket"
                name="vegetables-basket"
                value="true"
              />
              <label class="modal-label-checkbox" for="vegetables-basket">
                <span class="modal-checkbox-svg">
                  <svg class="icon-checkbox" height="10" width="10">
                    <use href="/img/symbol-defs.svg#checkbox-active-icon"></use>
                  </svg>
                </span>
              </label>

              <h2 class="modal-card-title">Vegetables Basket</h2>
              <p>Plant</p>
            </div>
            <div class="form-items-img">
              <picture>
                <source
                  srcset="
                    /img/mobile/vegetables-modal.png    1x,
                    /img/mobile/vegetables-modal@2x.png 2x
                  "
                  media="(max-width:767px)"
                />
                <source
                  srcset="
                    /img/tablet/vegetables-modal.png    1x,
                    /img/tablet/vegetables-modal@2x.png 2x
                  "
                  media="(max-width:1279px)"
                />
                <source
                  srcset="
                    /img/desktop/vegetables-modal.png    1x,
                    /img/desktop/vegetables-modal@2x.png 2x
                  "
                  media="(min-width:1280px)"
                />
                <img
                  src="/img/mobile/vegetables-modal.png"
                  alt="Vegetables"
                  width="94"
                  height="78"
                />
              </picture>
            </div>
          </div>
        </div>
        <div class="form-item-input">
          <div class="form-items">
            <input
              class="modal-text"
              id="full-name"
              type="text"
              name="full-name"
              placeholder="Enter full name..."
              required
            />
          </div>

          <div class="form-items">
            <input
              class="modal-text"
              id="enter-email"
              type="email"
              name="enter-email"
              placeholder="Enter email..."
              pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
              required
            />
          </div>

          <div class="form-items">
            <input
              class="modal-text"
              id="card"
              type="text"
              name="card"
              placeholder="Enter card..."
              required
            />
          </div>

          <div class="form-items-comment">
            <textarea
              class="modal-text-comment"
              id="user-comment"
              name="user-comment"
              placeholder="Enter comments..."
            ></textarea>
          </div>
        </div>
      </div>
      <button class="modal-button" type="submit">
        <span class="modal-btn-txt">Submit</span>
      </button>

      <picture class="img-girl">
        <source
          srcset="
            /img/tablet/modal-girl.png    1x,
            /img/tablet/modal-girl@2x.png 2x
          "
          media="(max-width:1279px)"
          width="290"
          height="403"
        />
        <source
          srcset="
            /img/desktop/modal-girl.png    1x,
            /img/desktop/modal-girl@2x.png 2x
          "
          media="(min-width:1280px)"
          width="444"
          height="413"
        />
        <img
          src="/img/tablet/modal-girl.png"
          alt="Girl Photo"
          width="290"
          height="403"
        />
      </picture>
    </form>
  </div>
</div>
